page-home {
    .img-home{
        display: block;
        margin: 0 auto;
        width: 12em;
        height: auto;
        margin-top: 5em;
    }
    .title{
        font-size: 2.8em;
        color: #484848;
        font-family: 'NeutraText-Light';
        letter-spacing: .2em;
        text-align: center;
        margin-top: 10px;
    }
    form{
        margin-top: 2em;
        ion-input{
            font-family: 'Poppins-Light';
            margin: 15px 0;
            border: .5px solid rgba(72,72,72,.4);
            height: $heightInput;
            font-size: 12px;
            padding-left: 7px;
            border-radius: 4px;
            &:hover{
                outline: none !important;
                border:1px solid #005B70;
            }
        }
    }
    .alert{
        // background-color: color($colors, danger);
        color:color($colors, danger);
        margin-top:2px;
        font-size: .9em;
        animation: 1s alertAnim forwards
    }

    //Animations
    @keyframes alertAnim {
        from{
            opacity: 0;
            transform: translateY(-10px);
        }
        to{
            opacity: 1;
            transform: translateY(-5px);
        }
        
    }
}
